body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    background-color: rgb(64, 80, 79);

}

@media only screen and (min-width: 768px) {
    .ui.container {
        width: 700px;
        max-width: 700px;
    }

    nav.ui.container .ui.header {
        float: left;
        margin-top: 12px;
    }

    nav.ui.container .ui.inverted.compact.menu {
        float: right;
    }
}

.ui.inverted.vertical.center.aligned.segment {
    padding-top: 36px;
}

nav.ui.container .ui.inverted.compact.menu {
    background-color: rgb(64, 80, 79);
}

nav.ui.container .ui.inverted.compact.menu .item {
    padding-bottom: 0;
}

nav.ui.container .ui.inverted.compact.menu .item {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 14px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
    background-color: inherit;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.ui.inverted.vertical.segment {
    height: 100vh;
    background-color: rgb(64, 80, 79);
}

.ui.content.container {
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ui.content.container h1.header {
    padding-top: 80px;
    font-size: 36px;
}

.ui.content.container p {
    font-size: 21px;
    line-height: 1.6;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#register {
    background-color: rgb(79, 109, 107);
    max-width: 500px;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#register label {
    color: white;
}

#register .ui.header {
    text-align: center;
    color: white;
}

#register h4 {
    margin-top: 0;
}

#register p {
    font: 1em sans-serif;
}

::placeholder {
    opacity: 1;
}